# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- Explore and summarize Data Science Tools and Ecosystem.
- Understand basic arithmetic expression examples in Python.
- List popular languages for Data Science.
- Introduce key development environment open source tools.
- Demonstrate conversion of minutes to hours in Python.

## Some of the popular languages that Data Scientists use are:
 - Python
 - R
 - Julia

## Some of the commonly used libraries used by Data Scientists include:
 - NumPy
 - Pandas
 - Matplotlib
 - Seaborn

## Data Science Tools

 | Data Science Tools          |
 |-----------------------------|
 | Jupyter Notebooks           |
 | RStudio                     |
 | Visual Studio Code (VSCode) |

### Arithmetic Expression Examples

Below are a few examples of evaluating arithmetic expressions in Python.

In [23]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [26]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Author

vijayakumar A